@page
@model SupermarketWEB.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Iniciar sesión";
}

<h2>Iniciar sesión</h2>

<form method="post">
    <!-- Muestra errores generales del modelo -->
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="User.Email" class="form-label"></label>
        <input asp-for="User.Email" class="form-control" />
        <span class="text-danger" asp-validation-for="User.Email"></span>
        <input type="hidden" asp-for="User.Name" />
    </div>

    <div class="mb-3">
        <label asp-for="User.Password" class="form-label"></label>
        <input asp-for="User.Password" type="password" class="form-control" />
        <span class="text-danger" asp-validation-for="User.Password"></span>
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" />
        <label class="form-check-label" for="exampleCheck1">Recordarme</label>
    </div>

    <button type="submit" class="btn btn-primary">Ingresar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}