@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn aboutxx <a href="https://github.com/EDISSONVILLARREAL/SupermarketWEB..git">buildingyy Web apps with ASP.NET Core</a>.</p>
</div>
